.banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 2rem 8rem 2rem;

    h1 {
        font-weight: bold;
    }

    &__autocomplete {
        position: absolute;
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .btn {
            margin: .25rem .5rem;
            border: 2px solid $primary;
            color: $black;
            background: transparent;

            @include lg {
                margin: 1rem .5rem;
            }

            &:hover {
                border: 2px solid $secondary;
            }
            
            a {
                text-decoration: none;
                color: white;
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        @include lg {
            flex-direction: row;
        }
    }

    &__img {
        width: 15rem;

        @include lg {
            width: 20rem;
        }
    }

    &__text {
        position: relative;
        margin: 1rem 0;
        
        @include lg {
            margin-top: -2rem;
        }
    }
}

.leadContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    background: #f7f7f7;
    color: $primary-dark;

    h2 {
        font-size: 1.25rem;
        color: lighten($black, 30);
        font-weight: bold;
        padding: 0 1rem;
        text-align: center;

        @include lg {
            padding: 0;
            text-align: left;
        }
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 0 2rem;
        flex-direction: column;

        @include lg {
            flex-direction: row;
        }

        &--text {
            display: flex;
            flex-direction: column;
            align-items: center;
            
            @include lg {
                width: 60%;
            }

            p {
                width: 75%;
                color: $black;
            }
        }
    }

    &__img {
        width: 100%;
        
        @include lg {
            margin: 2rem 0;
            width: 40%;
        }
    }

    &__steps {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background: lighten($primary, 60);
        padding: 2rem;

        h4 {
            font-size: 1.5rem;
            color: $primary-dark;
            margin: 1rem 0;
            text-align: center;
        }

        &--center {

            &-img {
                width: 75%;
                margin: 2rem auto;
            }

            @include lg {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                width: 100%;
    
                &-img {
                    width: 50%;

                    .gatsby-image-wrapper {
                        width: 50%;
                        margin: auto;
                    }
                }
    
                &-text {
                    width: 25%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    @include lg {
                        width: 50%;

                        p {
                            width: 75%;
                        }
                    }
                }
            }

        }

        &--centerLine {
            visibility: hidden;

            @include lg {
                visibility: visible;
                height: 5rem;
                color: transparent;
                margin-bottom: 1.45rem;
    
                &:nth-of-type(2) {
                    background: linear-gradient($primary-dark, $primary-dark) no-repeat center/2px 100%;
                    height: 20rem;
                }
            }
        }
    }
}

.yotpo-reviews-carousel {
    padding: 2rem 0;
}