#banner {
    -webkit-clip-path: polygon(0 0, 0 85%, 74% 100%, 100% 76%, 100% 0);
    clip-path: polygon(0 0, 0 85%, 74% 100%, 100% 76%, 100% 0);
    height: 55vh;
    z-index: 100;
  }
  
  #homeContent--2 {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
  }
  